@import "variables";

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link, .App-link-delete {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    height: fit-content;
    text-decoration: none;
    margin: 0 5px;
    font-size: 16px;
    border: none;
}

.App-link {
    background-color: $button_color;
}

.App-link-delete {
    background-color: $button_color_delete;
}

.d-flex {
    display: flex !important;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}