.Phonebook-field-container input {
    padding: 4px 8px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 14px;
}

.Phonebook-field-container label {
    font-weight: bold;
    margin-right: 10px;
}

.Phonebook-field-container {
    width: 33%;
}


