header {
    justify-content: space-between;
}

.PhonebookList-table {
    border-collapse: collapse;
    width: 100%;
}

.PhonebookList-table, th, td {
    border: 1px solid #ddd;
    text-align: center;
}

th, td {
    padding: 10px;
    text-align: left;
}

.PhonebookList-container {
    width: 80%;
    margin: 5em auto;
}

.d-flex .App-link {
    margin-top: auto;
    margin-bottom: auto;
}